footer {
    background-color: lightgrey;
    width: 100%;
    color: black;
}

  .header {
    font-family: Poppins;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0;
  }

  p {
    font-size: 10px;
  }

  .fClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
  }

  .sign-up-div{
    padding: 0;
    margin: 0;
    display: flex;
  }

  #sign-up-input {
    width: 25vw;
    padding: 10px 20px;
    font-family: Poppins;
    background-color: white;
    font-size: 15px;
    color: black;
    font-family: Poppins;
  }

  #sign-up-btn {
    border: none;
    font-size: 13px;
    font-weight: 600;
    background-color: rgb(181, 231, 169);
    padding: 1vw 2vw;
    background-color: black;
    color: white;
    font-family: Poppins;
  }

  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  #para {
    font-family: Poppins;
    font-size: 15px;
  }

  .copyy {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
  }

  @media (max-width: 450px){
    #sign-up-btn{
        font-size: 10px;
    }
    #sign-up-input {
        width: 55vw;
    }
    .header{
        font-size: 22px;
    }
    #para {
        font-size: 13px;
    }
  }
