  header {
    border-bottom: solid lightgray 1px;
    padding-bottom: 18px;
    /* margin-top: 7px; */
    border-top: none;
    align-items: center;
    /* background-color: rgb(181, 231, 169); */
    /* background-color: rgba(62,69,50,255); */
  }
  
  .menuLogo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  

  .count {
    color: white;
    font-size: 10px;
    font-weight: lighter;
    padding: 3px 6px;
    margin-left: 20px;
    
    position: absolute;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fvrt {
    background-color: rgb(247, 129, 129);
    font-weight: 700;
  }
  
  .crt {
    background-color: rgb(250, 188, 73);
    font-weight: 700;
  }
  
  .hide {
    display: none;
  }
  
  header > :first-child {
    padding:  1px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @font-face {
    font-family: Maves;
    src: url(/assets/font/WorkSans/WorkSans-VariableFont_wght.ttf);
    /* src: url(/assets/font/WorkSans/WorkSans-Regular.ttf); */
  }
  .logo{ 
    font-family: Maves, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: gold;
    /* color: wh+ite; */
    font-size: 60px;
    /* background: -webkit-linear-gradient(to right, rgb(181, 231, 169), rgb(250, 235, 149), rgb(250, 235, 149));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, rgb(181, 231, 169), rgb(250, 235, 149), rgb(250, 235, 149)); */
  }
  :root {
    --search-width: 35vw;
  }
  
  .searchMobileOption {
    display: none;
  }
  
  .menu {
    display: none;
  }
  
  
  #search-input, #search-input-mobile  {
    font-family: inherit;
    font-weight: 200;
    font-size: 14px;
    background-image: url(/assets/svg/magnify.svg);
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-size: 20px;
    outline: none;
    border-radius: 30px;
    padding: 10px 20px;
    width: var(--search-width);
    border: solid lightgray 1px;
  }
  
  #search-input-mobile{
    border-radius: 1px;
    width: 80%;
  }
  
  
  .search-modal {
    background-color: white;
    position: absolute;
    overflow: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 4;
  }
  
  .desktop { 
    margin-top: 10px;
    width: var(--search-width);
    padding: 10px 20px;
    min-height: 40vh;
    max-height: 40vh;
    box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.114);
  }
  
  .mobile {
    padding: 10px 20px;
    min-height: 20vh;
    max-height: max-content;
    width: 80%;
    margin-top: 50px;
  }
  
  .mobileModal {
    /* background-color: aliceblue; */
    background-color: white;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    height: 70vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }
  
  .search-modalCard {
    /* border: solid grey 1px; */
    min-height: 100px;
    max-height: 100px;
    border-radius: 10px;
    padding: 7px;
  }
  
  .search-modalCard:hover {
    background-color: rgba(211, 211, 211, 0.3);
  }
  
  .search-modalCard > * {
    display: flex;
    text-decoration: none;
    gap: 30px;
  }
  
  .searchCardImg{
    display: flex;
    justify-content: center;
  }
  
  .searchCardImg > img {
    object-fit: cover;
    width: 80px;
    height: 100px;
    border-radius: 10px;
  }
  
  .searchCardInfo {
    color: black;
  }
  
  .searchCardInfo > :first-child {
    font-size: 15px;
  }
  .searchCardInfo > :last-child {
    font-size: 13px;
  }
  
  .svg {
    width: 30px;
  }
  
  .mobile-icon{
    width: 30px;
    background-color: white;
    border: none;
  }
  
  .directories {
    display: flex;
    gap: 30px;
  }
  
  .headerNav {
    /* padding: 10px; */
    display: flex;
    justify-content: space-around;
  }
  
  .mobileHeaderNav{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 0;
    margin-top: 90px;
    border-top: solid lightgrey 1px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 70vh;
  }
  
  .header-links {
    color: gray;
    text-decoration: none;
    font-family: Maves, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  
  .mobile-header-links {
    color: gray;
    text-decoration: none;
    font-family: Maves, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-bottom: solid lightgrey 1px;
    padding: 20px;
  }
  
  .header-links::after{
    border-bottom: solid grey 1.7px;
  }
  .active {
    /* color: rgb(167, 0, 0); */
    /* color: rgb(181, 231, 169);
    color: rgb(250, 235, 149);
    color: rgba(62,69,50,255); */
    border-bottom: 1.7px solid grey;
    font-weight: 600;
  }
  
  
  .animated{
    text-decoration: none;
    display: inline-block;
  }
  .animated::after{
    content: '';
    display: block;
    transform: scaleX(0);
    border-bottom: 1.7px solid grey;
    background: grey;
    transition: transform 0.3s ease;
    transform-origin: center;
  }
  .animated:hover::after{
    transform: scaleX(1);
  }
  
  @media (max-width: 850px)  {
    header {
      padding-bottom: 0px;
    }
    .logo{
      font-size: 34px;
    }
  
    .directories {
      gap: 13px;
    }
  
    .search{
      display: none;
    }
  
    .headerNav {
      display: none;
    }
  
    .searchMobileOption {
      display: block;
    }
  
    .menu {
      display: block;
    }

    .svg{
      width: 25px;
    }
  }
   a {
    text-decoration: none;
   }